src/doc/wadl.xml

<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02">
  <wadl:resources base="http://localhost:8984/doc/wadl">
    <wadl:resource path="/dba/add-pattern">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Form for adding a new pattern.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">user name</wadl:doc>
          </wadl:param>
          <wadl:param name="pattern" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">entered pattern</wadl:doc>
          </wadl:param>
          <wadl:param name="perm" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">chosen permission</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/add-pattern">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Creates a pattern.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">user</wadl:doc>
          </wadl:param>
          <wadl:param name="perm" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">permission</wadl:doc>
          </wadl:param>
          <wadl:param name="pattern" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">pattern</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/add">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Form for adding a new resource.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">entered name</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">entered resource</wadl:doc>
          </wadl:param>
          <wadl:param name="binary" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">store as binary</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/add">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Adds a resource.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resource</wadl:doc>
          </wadl:param>
          <wadl:param name="file" style="query" type="map(*)">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">uploaded file</wadl:doc>
          </wadl:param>
          <wadl:param name="binary" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">store as binary file</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/alter-db">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Form for renaming a database.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of database</wadl:doc>
          </wadl:param>
          <wadl:param name="newname" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">new name</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/alter-db">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Renames a database.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of database</wadl:doc>
          </wadl:param>
          <wadl:param name="newname" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">new name</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/backup/{$backup}">
      <wadl:param name="backup" style="template" type="xs:string">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of backup file (ignored)</wadl:doc>
      </wadl:param>
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Downloads a database backup.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/octet-stream"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/copy">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Form for copying a database.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of database</wadl:doc>
          </wadl:param>
          <wadl:param name="newname" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">new name</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/copy">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Copies a database.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of database</wadl:doc>
          </wadl:param>
          <wadl:param name="newname" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">new name</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/create-backup">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Creates a database backup.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of database</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/create-db">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Form for creating a new database.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">entered name</wadl:doc>
          </wadl:param>
          <wadl:param name="opts" style="query" type="xs:string*">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">chosen database options</wadl:doc>
          </wadl:param>
          <wadl:param name="lang" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">entered language</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/create-db">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Creates a database.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="opts" style="query" type="xs:string*">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database options</wadl:doc>
          </wadl:param>
          <wadl:param name="lang" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">language</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/create-user">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Form for creating a new user.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">entered name</wadl:doc>
          </wadl:param>
          <wadl:param name="pw" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">entered password</wadl:doc>
          </wadl:param>
          <wadl:param name="perm" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">chosen permission</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/create-user">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Creates a user.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">user</wadl:doc>
          </wadl:param>
          <wadl:param name="pw" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">password</wadl:doc>
          </wadl:param>
          <wadl:param name="perm" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">permission</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/database">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Manages a single database.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resource</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
          <wadl:param name="info" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">info string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/database">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Redirects to the specified action.</wadl:doc>
        <wadl:request>
          <wadl:param name="action" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">action to perform</wadl:doc>
          </wadl:param>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query"/>
          <wadl:param name="backup" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/databases">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Main page.</wadl:doc>
        <wadl:request>
          <wadl:param name="sort" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">table sort key</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
          <wadl:param name="info" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">info string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/databases">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Redirects to the specified action.</wadl:doc>
        <wadl:request>
          <wadl:param name="action" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">action to perform</wadl:doc>
          </wadl:param>
          <wadl:param name="name" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/delete-files">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Deletes files.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/delete-logs">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Deletes database logs.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/delete-query">
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Delete a query file and returns the names of stored queries.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of query file (without suffix)</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/delete">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Deletes resources.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string"/>
          <wadl:param name="resource" style="query">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resources</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/download/{$file}">
      <wadl:param name="file" style="template" type="xs:string">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">file name (ignored)</wadl:doc>
      </wadl:param>
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Downloads a resource.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resource</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/octet-stream"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/drop-backup">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Drops a database backup.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of database</wadl:doc>
          </wadl:param>
          <wadl:param name="backup" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/drop-db">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Drops databases.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/drop-pattern">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Drops patterns.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string"/>
          <wadl:param name="pattern" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database pattern</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/drop-user">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Drops users.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/edit-user">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Edits a user.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">user</wadl:doc>
          </wadl:param>
          <wadl:param name="newname" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">new name</wadl:doc>
          </wadl:param>
          <wadl:param name="pw" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">password</wadl:doc>
          </wadl:param>
          <wadl:param name="perm" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">permission</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/eval-query">
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Evaluates a query and returns the result.</wadl:doc>
        <wadl:request>
          <wadl:param name="query" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">query</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/file/{$name}">
      <wadl:param name="name" style="template" type="xs:string">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of file</wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Downloads a file.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/files">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Files page.</wadl:doc>
        <wadl:request>
          <wadl:param name="sort" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">table sort key</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error message</wadl:doc>
          </wadl:param>
          <wadl:param name="info" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">info message</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/files">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Redirects to the specified action.</wadl:doc>
        <wadl:request>
          <wadl:param name="action" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">action to perform</wadl:doc>
          </wadl:param>
          <wadl:param name="name" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/kill-dba">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Kills DBA sessions.</wadl:doc>
        <wadl:request>
          <wadl:param name="id" style="query">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">session ids</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/log">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Returns log entries of a specific log file.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string"/>
          <wadl:param name="sort" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">table sort key</wadl:doc>
          </wadl:param>
          <wadl:param name="loglist" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">loglist</wadl:doc>
          </wadl:param>
          <wadl:param name="query" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">query</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/login-check">
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Checks the user input and redirects to the start or login page.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">user name</wadl:doc>
          </wadl:param>
          <wadl:param name="pass" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">password</wadl:doc>
          </wadl:param>
          <wadl:param name="url" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">url</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/login">
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Login page.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">user name</wadl:doc>
          </wadl:param>
          <wadl:param name="url" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">url</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/loglist">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Returns log data.</wadl:doc>
        <wadl:request>
          <wadl:param name="sort" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">table sort key</wadl:doc>
          </wadl:param>
          <wadl:param name="query" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">query</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/logout">
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Ends a session and redirects to the login page.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/logs">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Logging page.</wadl:doc>
        <wadl:request>
          <wadl:param name="sort" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">table sort key</wadl:doc>
          </wadl:param>
          <wadl:param name="name" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name (date) of log file</wadl:doc>
          </wadl:param>
          <wadl:param name="loglist" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">search term for log list</wadl:doc>
          </wadl:param>
          <wadl:param name="logs" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">search term for logs</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
          <wadl:param name="info" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">info string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/logs">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Redirects to the specified action.</wadl:doc>
        <wadl:request>
          <wadl:param name="action" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">action to perform</wadl:doc>
          </wadl:param>
          <wadl:param name="name" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/open-query">
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Returns the contents of a query file.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of query file (without suffix)</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/optimize-all">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Optimizes databases with the current settings.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/optimize">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Form for optimizing a database.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">entered name</wadl:doc>
          </wadl:param>
          <wadl:param name="all" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">optimize all</wadl:doc>
          </wadl:param>
          <wadl:param name="opts" style="query" type="xs:string*">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database options</wadl:doc>
          </wadl:param>
          <wadl:param name="lang" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">language</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/optimize">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Optimizes the current database.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="all" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">optimize all</wadl:doc>
          </wadl:param>
          <wadl:param name="opts" style="query" type="xs:string*">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database options</wadl:doc>
          </wadl:param>
          <wadl:param name="lang" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">language</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/queries">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Queries page.</wadl:doc>
        <wadl:request>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
          <wadl:param name="info" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">info string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/query-resource">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Runs a query on a document and returns the result as string.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of database</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resource</wadl:doc>
          </wadl:param>
          <wadl:param name="query" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">query</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/rename">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Form for renaming a resource.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resource</wadl:doc>
          </wadl:param>
          <wadl:param name="newname" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">new name of resource</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/rename">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Renames a database resource.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resource</wadl:doc>
          </wadl:param>
          <wadl:param name="newname" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">new name of resource</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/replace">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Form for replacing a resource.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resource</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/replace">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Replaces a database resource.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resource</wadl:doc>
          </wadl:param>
          <wadl:param name="input" style="query" type="(map(*))?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">file input</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/resource">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Redirects to the specified action.</wadl:doc>
        <wadl:request>
          <wadl:param name="action" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">action to perform</wadl:doc>
          </wadl:param>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of resource</wadl:doc>
          </wadl:param>
          <wadl:param name="resource" style="query" type="xs:string*">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">resource</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/restore">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Restores a database backup.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">database</wadl:doc>
          </wadl:param>
          <wadl:param name="backup" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">backup file</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/save-query">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Saves a query file and returns the list of stored queries.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">name of query file (without suffix)</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/settings">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Settings page.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/settings">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Saves the settings.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/static/{$file=.+}">
      <wadl:param name="file=.+" style="template"/>
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Returns a file.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/update-query">
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Runs an updating query.</wadl:doc>
        <wadl:request>
          <wadl:param name="query" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">query</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/upload-files">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Deletes files.</wadl:doc>
        <wadl:request>
          <wadl:param name="files" style="query" type="map(*)">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">map with uploaded files</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/user">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Manage a single user.</wadl:doc>
        <wadl:request>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">user</wadl:doc>
          </wadl:param>
          <wadl:param name="newname" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">new name</wadl:doc>
          </wadl:param>
          <wadl:param name="pw" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">password</wadl:doc>
          </wadl:param>
          <wadl:param name="perm" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">permission</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error string</wadl:doc>
          </wadl:param>
          <wadl:param name="info" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">info string</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/user">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Redirects to the specified action.</wadl:doc>
        <wadl:request>
          <wadl:param name="action" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">action to perform</wadl:doc>
          </wadl:param>
          <wadl:param name="name" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">user</wadl:doc>
          </wadl:param>
          <wadl:param name="pattern" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">pattern</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/users">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Users page.</wadl:doc>
        <wadl:request>
          <wadl:param name="sort" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">table sort key</wadl:doc>
          </wadl:param>
          <wadl:param name="error" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">error message</wadl:doc>
          </wadl:param>
          <wadl:param name="info" style="query" type="xs:string?">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">info message</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/users">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Redirects to the specified action.</wadl:doc>
        <wadl:request>
          <wadl:param name="action" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">action to perform</wadl:doc>
          </wadl:param>
          <wadl:param name="name" style="query"/>
          <wadl:param name="id" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba/{$unknown}">
      <wadl:param name="unknown" style="template" type="xs:string">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">unknown page</wadl:doc>
      </wadl:param>
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Shows a page not found error.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/dba">
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Redirects to the start page.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/form">
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">This function returns the result of a form request.</wadl:doc>
        <wadl:request>
          <wadl:param name="message" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">message to be included in the response</wadl:doc>
          </wadl:param>
          <wadl:param name="User-Agent" style="header"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/hello/{$world}">
      <wadl:param name="world" style="template" type="xs:string">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">string to be included in the response</wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">This function returns an XML response message.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="">
      <wadl:method name="">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">This function generates the welcome page.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/html"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/app/{$app}/client/components">
      <wadl:param name="app" style="template" type="xs:string"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">show client  components from the package.xml</wadl:doc>
        <wadl:request>
          <wadl:param name="fmt" style="query" type="xs:string"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/app/{$app}/client/templates">
      <wadl:param name="app" style="template" type="xs:string"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">show list templates</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/app/{$app}/server/wadl">
      <wadl:param name="app" style="template" type="xs:string"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">show xqdoc for rest api</wadl:doc>
        <wadl:request>
          <wadl:param name="path" style="query" type="xs:string"/>
          <wadl:param name="fmt" style="query" type="xs:string"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/app/{$app}/server/xqdoc">
      <wadl:param name="app" style="template" type="xs:string"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">show xqdoc for $path in $app</wadl:doc>
        <wadl:request>
          <wadl:param name="path" style="query" type="xs:string"/>
          <wadl:param name="fmt" style="query" type="xs:string"/>
          <wadl:param name="type" style="query" type="xs:string"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/components/basex">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">names of builtin basex xquery modules</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/components/browser">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">list all components in catalog</wadl:doc>
        <wadl:request>
          <wadl:param name="fmt" style="query" type="xs:string">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">"xml" or "html"</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/data/app/{$app}">
      <wadl:param name="app" style="template"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">detail of app found on file system.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/data/app">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">List of apps found on file system.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/data/entity/{$entity}/field">
      <wadl:param name="entity" style="template"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">field list for model</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/data/entity/{$entity}">
      <wadl:param name="entity" style="template"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">details of the entity $entity</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/data/entity">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">return list of entities</wadl:doc>
        <wadl:request>
          <wadl:param name="q" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/data/file/find">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">list of files matching pattern as json array</wadl:doc>
        <wadl:request>
          <wadl:param name="pattern" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/data/file/list">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">list of direct children of $path as json array</wadl:doc>
        <wadl:request>
          <wadl:param name="path" style="query">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">path to list the children of eg "/app"</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/data/file/read">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">get contents of file.</wadl:doc>
        <wadl:request>
          <wadl:param name="path" style="query">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml">e.g. "/app/doc/readme.md"</wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/data/{$entity}">
      <wadl:param name="entity" style="template" type="xs:string"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">default entity lister</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/init">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">Initialise system by runnning tasks 1-3</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/search">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">search apps</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/validate">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">validate server xml against server xsd</wadl:doc>
        <wadl:request>
          <wadl:param name="xml" style="query" type="xs:string"/>
          <wadl:param name="schema" style="query" type="xs:string"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/wadl">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">wadl for system need permisioning</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc/xqdoc">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">get xquery documentation for $path and $type</wadl:doc>
        <wadl:request>
          <wadl:param name="path" style="query" type="xs:string"/>
          <wadl:param name="fmt" style="query" type="xs:string"/>
          <wadl:param name="type" style="query" type="xs:string"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="doc">
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">The doc home page as html. The UI entry point.</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="{$app}/meta/cvabar/{$bar}">
      <wadl:param name="app" style="template" type="xs:string"/>
      <wadl:param name="bar" style="template" type="xs:string"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">show xqdoc for rest api</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="{$app}/ping">
      <wadl:param name="app" style="template"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">ping incr counter</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="{$app}/ping">
      <wadl:param name="app" style="template"/>
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">ping incr counter</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="{$app}/task/{$task}">
      <wadl:param name="app" style="template"/>
      <wadl:param name="task" style="template" type="xs:string"/>
      <wadl:method name="POST">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">run a task</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="{$app}/task">
      <wadl:param name="app" style="template"/>
      <wadl:method name="GET">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml">list tasks</wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="text/plain"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
  </wadl:resources>
</wadl:application>